@using UniversityApp.Core.Entities
@model Course
@{
	ViewData["Title"] = "Create course";
	var attributesErrorText = new Dictionary<string, object>()
	{
		{ "class", "text-danger" }
	};
}

<h3>Create course</h3>
@using (Html.BeginForm("Create", "Course", FormMethod.Post))
{
	
	<div>
		@Html.DisplayNameFor(c => c.Name)
		@await Html.PartialAsync("_Required")
		<br/>
		@Html.EditorFor(c => c.Name)
		<br />
		@Html.ValidationMessageFor(c => c.Name, "", attributesErrorText)
	</div>
	<div>
		@Html.DisplayNameFor(c => c.Description)
		<br/>
		@Html.TextAreaFor(c => c.Description)
		<br />
		@Html.ValidationMessageFor(c => c.Description, "", attributesErrorText)
	</div>
	<input class="btn btn-primary" type="submit" value="Create"/>
}
